# Editor project files
.idea/
.vscode/
hedera.cbp

# Rust artifacts
target/

# C artifacts
build/

# Shared Libraries
libs/

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake-build-debug/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Local Development
build_test
